.main_container {
	background-color: #ECF2F8;
}

.img1 {
	height: auto;
	width: 100% !important;
}

.text_container {
    font-family: 'Manrope';
}

.heading {
    color: #4E5765;
	font-weight: 700;
}

.content {
    color: #6D7F97;
}

.img2 {
    border-radius: 50%;
}


.img2-details_name {
    color: #4E5765;
	font-weight: 700;
}

.img2-details_date {
    color: #6D7F97;
}

.share_post {
    color: white;
    cursor: pointer;
}

.share_site {    
    cursor: pointer;
    border: 1px solid #4E5765;
    background-color: #4E5765;
    color: white;
/*	display: none;*/
}

.facebook,
.twitter,
.pinterest {
    width: 20px;
    height: 20px;
}

#share_box {
	display: none;
}

@media (max-device-width: 576px) {
		.img1 {
			object-fit:cover;

	}
	
	.detail1 {
		width: auto !important;
	}
	.detail2 {
		width: auto !important;
		
	}
	
	
#share_box {
	width: 100% !important;
/*	margin-left: 700%;*/
/*	margin-top: -14%;*/
	margin-bottom: -130%;
/*	margin-right: 110%;*/
	padding: 0 !important;
}
	
}

@media (max-device-width: 1024px) {
	.img1 {
			object-fit:cover;
	}	
	
  #share_box {
      margin-left: -20%;
      margin-top: 4%;
  }
}

@media (min-width: 1166px) {
	.img1 {
		object-fit: cover;
		object-position: 2% 0;
		background-color: #ECF2F8;
	}
	
	
  #share_box {
      margin-left: -20%;
      margin-top: 4%;
  }
}
